/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:befor,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:activ{outline: none;}
a:focus,a:activ{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0,border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*----------------------*/

body{
	background: #e8e8e8
}

.top{
	width: 1190px;
	height: 1800px;
	background: url(../Img/rounded_rectangle_1_7.png) 195px 1650px no-repeat, url(../Img/layers.png) no-repeat;
	margin: 220px;
}

.title{
	Text: Travel;
	opacity: 0.6;f
	ont-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #273d46;
	margin: 67px 0 0 0;
	text-align: center;
}

.subtitle{
	width: 721px;
	font-family: 'Times New Roman';
	font-size: 36px;
	line-height: 50px;
	font-weight: 400;
	color: #273d46;
	margin: 26px 0 0 220px;
	text-align: center;
}

.img{
	text-align: center;
	margin: 87px;
	border: 10px solid white;
}

.img img{
	width: 100%;
}

.text{
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
	margin: 107px 0 0 200px;
	width: 736px;
	text-align: left;
}

.text2{
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
	margin: 40px 0 64px 200px;
	width: 736px;
	text-align: left;
}

.list{
	margin: 0 0 0 200px;
}

.list li{
	font-size: 20px;
	font-family: Arial;
	background: url(../Img/check_icon_37.png) left 5px no-repeat;
	padding: 0 0 30px 30px;
}

.li2{
	font-style: italic;
	color: #80b7b3;
}

.li3{
	font-weight: 700;
	color: #273d46;
}

.li4{
	opacity: 0.3;
	text-decoration: line-through;
	color: #273d46;
}

.button{
	margin: 83px 0 0 240px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;;
}

.button_arrow{
	margin: -28px 0 0 365px;
}
